@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.wrapper {
  .mat-expansion-panel-body {
    padding: 16px 10px 16px 16px !important;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 5px 0 !important;
  }
  
  .mat-form-field-label-wrapper {
    top: -.84375em;
    padding-top: .84375em;
    font-size: 3rem !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 255, 255);
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(255, 255, 255, .42);
    height: 2px;
  }

  .mat-form-field-label {
    color:rgba(255, 255, 255, .3);
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color:rgba(255, 255, 255, .7);
  }

  .mat-input-element {
    caret-color: rgba(255, 255, 255, .7);
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgba(255, 255, 255, .7);
  }
  
}
