@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../styles/variables.scss';

.wrapper {
  .mat-expansion-panel-body {
    padding: 16px 10px 16px 16px !important;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
  }
  
  .mat-form-field-label-wrapper {
    top: -.99375em;
    padding-top: .84375em;
    font-size: 1rem !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $gray-a-70;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $gray-a-42;
    height: 2px;
  }

  .mat-form-field-label {
    color:$gray-a-30;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color:$gray-a-70;
  }

  .mat-input-element {
    caret-color: $gray-a-70;
    z-index: 9997;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $gray-a-70;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $gray-a-30;
  }
}
