// Colors:
$gray-a-30: rgba(25, 25, 25, .3);
$gray-a-42: rgba(25, 25, 25, .42);
$gray-a-70: rgba(25, 25, 25, .7);
$white: rgb(255, 255, 255);
$white-a-50: rgba(255, 255, 255, .5);
$value-color: rgba(22, 22, 22, .9);
$pollution-text-color: rgba(22, 22, 22, .5);
