.city {
  width: 100%;
  margin: 0 20px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  box-sizing: border-box;

  &__name {
    margin: 0 20px 0 0;
  }

  &__pollution {
    width: 140px;
    font-size: .8rem;
    color: rgba(22, 22, 22, .5);
  }
}

.value {
  font-size: .9rem;
  color: rgba(22, 22, 22, .9);
}

.unit {
  margin: 0 0 0 5px;
}

.city-info {
  max-height: 266px;
  margin: 0;
  padding: 0 0 0 8px;
  text-align: justify;
  box-sizing: border-box;

  &_paragraph {
    margin: 0;
    padding: 0 27px 0 0;
    font-size: .8rem;
    line-height: 1.2;
  }
}

.expansion-panel {
  background: rgba(255, 255, 255, .7);

  &:hover {
    background: rgba(255, 255, 255, .9);
  }
}
