@import '../../styles/variables.scss';

.city {
  width: 100%;
  margin: 0 20px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  box-sizing: border-box;

  &__name {
    margin: 0 20px 0 0;
  }

  &__pollution {
    width: 140px;
    font-size: .8rem;
    color: $pollution-text-color;
  }
}

.value {
  font-size: .9rem;
  color: $value-color;
}

.unit {
  margin: 0 0 0 5px;
}

.city-info {
  max-height: 266px;
  width: 100%;
  margin: 0;
  padding: 0 0 0 8px;
  text-align: justify;

  &_paragraph {
    margin: 0;
    padding: 0 20px 0 0;
    font-size: .8rem;
    line-height: 1.5;
  }
}

.expansion-panel {
  background: $white-a-50;

  &:hover {
    background: $white;
  }
}
