<mat-expansion-panel class="expansion-panel">
  <mat-expansion-panel-header>
    <div class="city">
      <div class="city__name">{{ measurement.city }}</div>
      <div class="city__pollution">{{ measurement.parameter }}: 
        <span class="value">{{ measurement.value }}</span> 
        <span class="unit">{{ measurement.unit }}</span></div>
    </div>
  </mat-expansion-panel-header>
  <perfect-scrollbar class="city-info">
    <div class="city-info_paragraph" [innerHtml]="this.measurement.cityData || noData | sanitizeHtml"></div>
  </perfect-scrollbar>
</mat-expansion-panel>
