<section class="wrapper">
  <form #countryForm="ngForm">
      <mat-form-field>
        <div class="input-wrapper">
          <input
            matInput
            placeholder="Choose country"
            (ngModelChange)="onCountryChange($event)"
            [(ngModel)]="countryName"
            [ngModelOptions]="{standalone: true}"
            [matAutocomplete]="auto"
            #selectedCountry>
            <div *ngIf="!measurements">
              <mat-progress-spinner
                class="spinner" 
                *ngIf="selectedCountry.value && !(measurements$ | async)" 
                mode="indeterminate"
                [diameter]="18"></mat-progress-spinner>
            </div>
        </div>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let country of countriesList" 
          [value]="country?.name">
          {{ country?.name }}
        </mat-option>
      </mat-autocomplete>
    </form>
    <div *ngIf="(measurements$ | async) as measurements">
      <mat-accordion>
        <app-city-data
          *ngFor="let measurement of measurements"
          [measurement]="measurement">
        </app-city-data>
      </mat-accordion>
    </div>
</section>
