<section class="wrapper">
  <form [formGroup]="countryForm">
      <mat-form-field>
        <div class="input-wrapper">
          <input
            #countryInput
            matInput
            placeholder="Country"
            formControlName="countryName"
            matAutosize="true"
            [matAutocomplete]="auto">
            <div *ngIf="!measurements">
              <button
                class="clear-button"
                (click)="clearInput()"></button>
              <mat-progress-spinner
                *ngIf="countryInput.value && !(measurements$ | async)" 
                class="spinner" 
                mode="indeterminate"
                [strokeWidth]="2"
                [diameter]="42"></mat-progress-spinner>
            </div>
        </div>
      </mat-form-field>
      <mat-autocomplete 
        #auto="matAutocomplete"
        autoActiveFirstOption
        (optionSelected)="onCountryChange($event)">
        <mat-option
          *ngFor="let country of filteredCountries$ | async"
          [value]="country">
          {{ country }}
        </mat-option>
      </mat-autocomplete>
    </form>
    <div *ngIf="(measurements$ | async) as measurements">
      <mat-accordion>
        <app-city-data
          *ngFor="let measurement of measurements"
          [measurement]="measurement">
        </app-city-data>
      </mat-accordion>
    </div>
</section>
