<form #countryForm="ngForm">
  <mat-form-field>
    <input
      matInput
      (ngModelChange)="onCountryChange($event)"
      [(ngModel)]="countryName"
      [ngModelOptions]="{standalone: true}"
      [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let country of countriesList" 
      [value]="country?.name">
      {{ country?.name }}
    </mat-option>
  </mat-autocomplete>
</form>

<div *ngIf="(measurements$ | async) as measurements">
  <mat-accordion>
    <app-city-data
      *ngFor="let measurement of measurements"
      [measurement]="measurement">
    </app-city-data>
  </mat-accordion>
</div>
