@import '../../styles/variables.scss';

.wrapper {
  width: 1000px;
  color: $gray-a-70;
}

.form {
  margin: 0 0 20px 0;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  font-size: 1.3rem;
  line-height: 1.5;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}

.button-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
  transform: rotate(-45deg);
  z-index: 9998;

  &:focus {
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid $gray-a-70;
    transform: translate(-9px, 0);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid $gray-a-70;
    transform: translate(0, 8px);
  }
}

.spinner {
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 9999;
}

.hint-message,
.error-message {
  font-size: 1rem;
  margin: 22px 0 0 0;
}

.hint-message {
  color: $gray-a-30;
  font-weight: 600;
}

@media only screen and (max-width : 1000px) {
  .wrapper {
    width: 100vw;
    padding: 0 20px;
  }
}
