.wrapper {
  width: 1000px;
  color: rgba(25, 25, 25, .7);
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  font-size: 2rem;
  line-height: 1.5;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}

.button-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
  transform: rotate(-45deg);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid rgba(25, 25, 25, .7);;
    transform: translate(-14px, 0);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid rgba(25, 25, 25, .7);;
    transform: translate(0, 13px);
  }
}

.spinner {
  position: absolute;
  top: 7px;
  right: 4px;
}
